
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <title>QaDefault</title>
    <link href="~/Content/Activity/Zxdt/kankan/content/base.css" rel="stylesheet" />
    <link href="~/Content/Activity/Zxdt/kankan/content/style.css" rel="stylesheet" />
    <script src="~/Content/Activity/Zxdt/kankan/content/jquery.min.js"></script>
    <script src="~/Content/Activity/Zxdt/kankan/content/reset.font.js"></script>
</head>
<body>
    <div> 
    </div>
</body>
</html>
