<title>Home</title>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js" type="text/javascript"></script>
<script type="text/javascript">
    $(function () {
        $("#btn").bind("click", function () {
            var openwho = WeixinApi.openInWeixin();
            alert(openwho)


            var phone = $("#phone").val();   //手机号码
            if (!telRuleCheck2(phone)) { alert("请输入正确的手机号码"); return }
            $.getJSON("/Home/SignPhoneFilter", { phone: phone }, function (ret) {
                alert(ret.msg);
            })
        })
        //手机号码格式验证   
        telRuleCheck2 = function (string) {
            var pattern = /^1[34578]\d{9}$/;
            if (pattern.test(string)) {
                return true;
            }
            return false;
        };
    })
</script>
<style type="text/css">
    .bg {
        width: 100%;
        background-image: url(../Content/Img/bg_1.png);
        background-repeat: no-repeat;
        background-size: 100%;
        height:0;
        padding-bottom:177.5%;
    }
    .div_c {
        padding-top:104%;
    }
    .btn_1 {
        background-image: url(../Content/Img/btn_1.png);
        background-size:cover;
        height: 26px;
        width: 82px;
        display:inline-block;
    }
</style>
<div class="bg">
    <form class="form-horizontal div_c" role="form">
            <div class="col-sm-6">
                <input type="tel" class="form-control form-bgc" id="phone" placeholder="请输入你的手机号码" style="width: 60%; margin: 8px auto;">
            </div>
            <div class="col-sm-4" style="text-align:center">
                <span id="btn" class="btn_1"></span>
            </div>
    </form>
    <button class="btn btn_primary" id="onMenuShareAppMessage">onMenuShareAppMessage</button>
</div>
<script type="text/javascript">
    $(function () {
        $.ajax({
            type: 'GET',
            url: 'https://api.weixin.qq.com/cgi-bin/ticket/getticket?access_token=ACCESS_TOKEN&type=jsapi'
        })
        //$.ajax({
        //    type: 'GET',
        //    url: '/Home/TestShare'
        //})
        wx.config({
            debug: false,
            appId: 'wxf8b4f85f3a794e77',
            timestamp: 1493132657,
            nonceStr: '3u26tVwtjaA6y8Bf',
            signature: '5c14c41cd082f9bb8853475c8b9c1e8f97698ebe',
            jsApiList: [
              'checkJsApi',
              'onMenuShareTimeline',
              'onMenuShareAppMessage',
              'onMenuShareQQ',
              'onMenuShareWeibo',
              'onMenuShareQZone',
              'hideMenuItems',
              'showMenuItems',
              'hideAllNonBaseMenuItem',
              'showAllNonBaseMenuItem',
              'translateVoice',
              'startRecord',
              'stopRecord',
              'onVoiceRecordEnd',
              'playVoice',
              'onVoicePlayEnd',
              'pauseVoice',
              'stopVoice',
              'uploadVoice',
              'downloadVoice',
              'chooseImage',
              'previewImage',
              'uploadImage',
              'downloadImage',
              'getNetworkType',
              'openLocation',
              'getLocation',
              'hideOptionMenu',
              'showOptionMenu',
              'closeWindow',
              'scanQRCode',
              'chooseWXPay',
              'openProductSpecificView',
              'addCard',
              'chooseCard',
              'openCard'
            ]
        });
        wx.ready(function () {
            alert(11);
            document.querySelector('#onMenuShareAppMessage').onclick = function () {
                alert(wx)
                wx.onMenuShareAppMessage({
                    title: '互联网之子',
                    desc: '在长大的过程中，我才慢慢发现，我身边的所有事，别人跟我说的所有事，那些所谓本来如此，注定如此的事，它们其实没有非得如此，事情是可以改变的。更重要的是，有些事既然错了，那就该做出改变。',
                    link: 'http://movie.douban.com/subject/25785114/',
                    imgUrl: 'http://demo.open.weixin.qq.com/jssdk/images/p2166127561.jpg',
                    trigger: function (res) {
                        // 不要尝试在trigger中使用ajax异步请求修改本次分享的内容，因为客户端分享操作是一个同步操作，这时候使用ajax的回包会还没有返回
                        alert('用户点击发送给朋友');
                    },
                    success: function (res) {
                        alert('已分享');
                    },
                    cancel: function (res) {
                        alert('已取消');
                    },
                    fail: function (res) {
                        alert(JSON.stringify(res));
                    }
                });
                alert('已注册获取“发送给朋友”状态事件');
            };
            alert(22);
        });
    })
</script>
