
@{
    Layout = null;
}
@using Model.WxModel
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script type="text/javascript" src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#search").click(function () {
                var field = $("#field").attr("v_val");  //title
                var fieldv = $("#fieldv").val();        //phone
                var url = "/Flow/FindFlowSearch";
                var data = { ctype: field, phone: fieldv };
                searchlist(url, data);
            })
            $('.dropdown-menu a').click(function () {
                var txt = $(this).text(); var val = $(this).attr("v_val");
                var objdrop = $(this).parent().parent().siblings("button").eq(0);
                objdrop.text(txt); objdrop.attr("v_val", val);
            })
            showup();
        })
        //回到顶部
        //当滚动条的位置处于距顶部100像素以下时，跳转链接出现，否则消失
        showup = function () {
            $(window).scroll(function () {
                if ($(window).scrollTop() > 100)
                    $("#back-to-top").fadeIn(1500);
                else
                    $("#back-to-top").fadeOut(1500);
            });
            //当点击跳转链接后，回到页面顶部位置
            $("#back-to-top").click(function () {
                $('body,html').animate({ scrollTop: 0 }, 100);
                return false;
            });
        }
        //tips
        tips = function (content, timeout) {
            var BootDialog = "<div class=\"modal fade\" id=\"myModal\" tabindex=\"-1\" role=\"dialog\" aria-labelledby=\"myModalLabel\" aria-hidden=\"true\">";
            BootDialog += " <div class=\"modal-dialog\"><div class=\"modal-content\"><div class=\"modal-body\">" + content + "</div></div></div></div>";
            var obj = $(BootDialog);obj.modal('show');
            setTimeout(function () { obj.modal('hide') }, timeout * 1000);
        }
        //查询返回列晴
        searchlist = function (url, data) {
            $.getJSON(url, data, function (ret) {
                if (ret.code == 1000) {
                    var str = "<table class=\"table table-bordered table-hover\"><thead><tr><th style=\"width:6%;\"><label class=\"checkbox-inline\"><input id=\"allqx\" type=\"checkbox\" />全选</label></th><th style=\"width:45px;\">序号</th><th style=\"width:119px;\">Ctype</th><th style=\"width:118px;\">手机号码</th><th style=\"width:118px;\">充值状态</th><th style=\"width:118px;\">添加时间</th></tr></thead>";
                    $.each(ret.jsonresult, function (i, o) {
                        str += "<tr><td style=\"text-align:center\"><input type=\"checkbox\" value=\"" + o.id + "\"></td><td>" + (parseInt(i) + 1) + "</td><td>" + o.ctype + "</td><td>" + o.phone + "</td><td>" + BoolText(o.state) + "</td><td>" + o.addtime + "</td></tr>";
                    })
                    str += "</table>";
                    $("#ulist").html(str);
                    $("#allqx").click(function () { togglechg(); })
                }else
                    tips("查询失败.", 1);
            })
        }
        pagelist = function (url, data) {
            var isInited = $("#page").pagination();
            if (isInited) $("#page").pagination('destroy');
            var text = $("#text").val();
            var type = $("#sel").val();
            $("#page").pagination({
                firstBtnText: '首页',
                lastBtnText: '尾页',
                prevBtnText: '上一页',
                nextBtnText: '下一页',
                showInfo: true,
                showJump: true,
                jumpBtnText: '跳转',
                showPageSizes: true,
                infoFormat: '{start} ~ {end}条，共{total}条',
                debug: true,
                pageElementSort: ['$page', '$size', '$jump', '$info'],
                remote: {
                    url: url,  //请求地址
                    params: data,       //自定义请求参数
                    success: function (data) {
                        //console.log(data)
                        if (data.code == 1000) {
                            var caption = "<caption><div class=\"btn-toolbar\" role=\"toolbar\">";
                            caption += "<div class=\"btn-group\"><button type=\"button\" class=\"btn btn-default\">新增</button></div>";
                            caption += "<div class=\"btn-group\"><button type=\"button\" class=\"btn btn-default\">编辑</button></div>";
                            caption += "<div class=\"btn-group\"><button type=\"button\" class=\"btn btn-default\">删除</button></div>";
                            caption += "</div></caption>";
                            var str = "<table class=\"table table-bordered table-hover\"><thead><tr><th style=\"width:6%;\"><label class=\"checkbox-inline\"><input id=\"allqx\" type=\"checkbox\" />全选</label></th><th style=\"width:119px;\">用户ID</th><th style=\"width:118px;\">用户昵称</th><th style=\"width:118px;\">用户金币</th><th style=\"width:118px;\">用户类型</th><th style=\"width:118px;\">用户封号</th><th style=\"width:118px;\">最后登入IP</th><th style=\"width:118px;\">AI</th><th style=\"width:118px;\">操作</th></tr></thead>";
                            $.each(data.data, function (i, o) {
                                var btnstr = "暂停"; var utype = 2;
                                if (o.State == "2") { btnstr = "开启"; utype = 3; }
                                str += "<tr><td style=\"text-align:center\"><input type=\"checkbox\"></td><td>" + o.Userid + "</td><td>" + o.NickName + "</td><td>" + o.UserJb + "</td><td>" + ReUname(o.UserType) + "</td><td>" + BoolText(o.UserDisable) + "</td><td>" + o.UserLoginIp + "</td><td>" + BoolText(o.IsRobot) + "</td><td><button onclick=\"CloseAutoTz(" + o.Userid + ",this)\">停止投注</button></td></tr>";
                            })
                            str += "</table>";
                            $("#ulist").html(str);
                            $("#allqx").click(function () {togglechg();})
                        }
                    },
                    totalName: 'total'              //指定返回数据的总数据量的字段名
                }
            });
        }
        //返回是否
        BoolText = function (v) {
            if (v == 0) return "待充值";
            else if (v == 1) return "充值完成";
            else if (v == 2) return "充值中";
            else return "充值失败";
        }
        //随机字符串
        function randomString(len) {
            len = len || 32;
            var $chars = 'ABCDEFGHJKMNPQRSTWXYZabcdefhijkmnprstwxyz2345678';    /****默认去掉了容易混淆的字符oOLl,9gq,Vv,Uu,I1****/
            var maxPos = $chars.length;
            var pwd = '';
            for (i = 0; i < len; i++) {
                pwd += $chars.charAt(Math.floor(Math.random() * maxPos));
            }
            return pwd;
        }
        //弹窗ID，标题，文字内容，宽度，高度
        qiu_confirm = function (id, title, content, width, height) {
            var iframe = $("#" + id);
            if (iframe.length > 0) {
                iframe.modal('show');
                return;
            }
            if (width != null) {
                width = "style=\"width:" + width + "px\"";
            }
            if (height != null) {
                height = "style=\"height:" + height + "px;overflow:auto\"";
            }
            var header = "<div class=\"modal-header\"><button type=\"button\" class=\"close\" data-dismiss=\"modal\" aria-hidden=\"true\">×</button><h4 class=\"modal-title\" id=\"myModalLabel\">" + title + "</h4></div>"
            var footer = "<div class=\"modal-footer\"><button type=\"button\" class=\"btn btn-default\" data-dismiss=\"modal\">取消</button><button id=\"Tj\" type=\"button\" class=\"btn btn-primary\">确定</button></div>";
            var BootDialog = "<div class=\"modal fade\" id=\"" + id + "\" tabindex=\"-1\" role=\"dialog\" aria-labelledby=\"myModalLabel\" aria-hidden=\"true\">";
            BootDialog += " <div class=\"modal-dialog\"><div class=\"modal-content\"" + width + ">" + header + "<div class=\"modal-body\"" + height + ">" + content + "</div>" + footer + "</div></div></div>";
            var obj = $(BootDialog); obj.modal('show');
            obj.find("#Tj").click(function () {
                if (id == "q_addflow") {
                    AddFlow(obj);
                } else if (id == "q_updateflowstate") {
                    UpdateFlowState(obj);
                }
            })
        }
        //新增手机号码方法
        AddFlow = function (obj) {
            var url = "/Flow/AddFlow";
            var phone = $("#txt_phone").val();
            var ctype = $("#field").attr("v_val");  //类型
            var issue = 1;
            var openid = randomString(10);      //取得一个字符串当做openid
            if (phone == "") {
                alert("手机号码不能为空"); return;
            }
            var data = {
                phone: phone,
                ctype: ctype,
                issue: issue,
                openid: openid
            }
            $.post(url, data, function (ret) {
                if (ret.success) {
                    tips("添加成功.", 1);
                } else {
                    tips("添加失败.", 1);
                }
            });
            obj.modal('hide');
        }
        //新增
        NewFlow = function () {
            var ctype = $("#field").attr("v_val");  //类型
            if (parseInt(ctype) < 1) {
                alert("请先选择一个单子类型."); return;
            }
            var str = "";
            str += "<div class=\"form-group\"><label for=\"firstname\" class=\"col-sm-2 control-label\">手机号码</label><div class=\"col-sm-10\"><input type=\"text\" class=\"form-control\" id=\"txt_phone\" name=\"txt_tmts\" placeholder=\"没有做判断限制,请自行输入正确的移动手机号码\"></div></div>";
            qiu_confirm("q_addflow", "添加充值记录", str, 600, 80);
        }
        //点击全选
        togglechg = function () {
            var qx = $("#allqx");
            var tr = $("#ulist tbody tr")
            $.each(tr, function (i, e) {
                var eachobj = $(e).children("td").eq(0).find(":checkbox");
                if (qx.prop("checked")) eachobj.prop("checked", true); else eachobj.prop("checked", false);
            })
        }
        //删除充值记录
        RemoveById = function () {
            var list = [];      //数组对象，将
            var data;           //元素对象
            var tr = $("#ulist tbody tr");
            $.each(tr, function (i, e) {
                var eachobj = $(e).children("td").eq(0).find(":checkbox");
                if (eachobj.prop("checked")) {
                    data = new Object();    //元素对象实例
                    data.id = eachobj.val();
                    list.push(data);
                }
            })
            if (list.length < 1) {
                tips("未选中任何行", 2); return;
            }
            if (confirm("确定要清空数据吗?")) {
                $.post("/Flow/RemoveFlow", { data: JSON.stringify(list) }, function (ret) {
                    if (ret.success) {
                        tips(ret.msg, 2);
                        $("#search").click();
                    } else
                        tips(ret.msg, 2);
                })
            }
        }
        //生成充值的Execl
        CreateExecl = function () {
            var ctype = $("#field").attr("v_val");  //类型
            var issue = 1;
            tips("已经开始生成", 2);
            $.post("/Flow/CreateExecl", { ctype: ctype, issue: issue }, function (ret) {
                if (ret.success) {
                    tips(ret.msg, 2);
                }
                else
                    tips("生成失败", 2);
            })
        }
        //弹出状态选择框
        ShowFlowState = function () {
            var list = [];      //数组对象，将
            var data;           //元素对象
            var tr = $("#ulist tbody tr");
            $.each(tr, function (i, e) {
                var eachobj = $(e).children("td").eq(0).find(":checkbox");
                if (eachobj.prop("checked")) {
                    data = new Object();    //元素对象实例
                    data.id = eachobj.val();
                    list.push(data);
                }
            })
            if (list.length < 1) {
                tips("未选中任何行", 2); return;
            }

            var str = "";
            str += "<div class=\"btn-group\">";
            str += "<button id=\"field1\" type=\"button\" v_val=\"-1\" class=\"btn btn-default\">默认</button>";
            str += "<button type=\"button\" class=\"btn btn-default dropdown-toggle\" data-toggle=\"dropdown\" style=\"height: 34px;\">";
            str += "<span class=\"caret\"></span><span class=\"sr-only\">切换下拉菜单</span></button>";
            str += "<ul class=\"dropdown-menu\" role=\"menu\">"
            str += "<li><a href=\"#\" v_val=\"0\">待充值</a></li><li><a href=\"#\" v_val=\"2\">充值中</a></li><li><a href=\"#\" v_val=\"1\">充值完成</a></li></ul></div>";

            qiu_confirm("q_updateflowstate", "更新充值记录状态", str, 200, 200);
            setTimeout(function () { lll() }, 2000);
        }
        //过2秒再执行
        lll = function () {
            $('.dropdown-menu a').click(function () {
                var txt = $(this).text(); var val = $(this).attr("v_val");
                var objdrop = $(this).parent().parent().siblings("button").eq(0);
                objdrop.text(txt); objdrop.attr("v_val", val);
            })
        }
        //提交修改状态和记录ids
        UpdateFlowState = function (obj) {
            var state = $("#field1").attr("v_val");
            var list = [];      //数组对象，将
            var data;           //元素对象
            var tr = $("#ulist tbody tr");
            $.each(tr, function (i, e) {
                var eachobj = $(e).children("td").eq(0).find(":checkbox");
                if (eachobj.prop("checked")) {
                    data = new Object();    //元素对象实例
                    data.id = eachobj.val();
                    list.push(data);
                }
            })
            if (list.length < 1) {
                tips("未选中任何行", 2); return;
            }
            if (confirm("确定要修改状态吗?")) {
                $.post("/Flow/UpdateFlowState", { data: JSON.stringify(list), state: state }, function (ret) {
                    if (ret.success) {
                        tips(ret.msg, 2);
                        $("#search").click();
                    } else
                        tips(ret.msg, 2);
                })
            }
            obj.modal('hide');
        }
    </script>
    <style type="text/css">
    /*returnTop*/
    p#back-to-top{
        position:fixed;
        display:none;
        bottom:100px;
        right:80px;
    }
    p#back-to-top a{
        text-align:center;
        text-decoration:none;
        color:#979797;
        display:block;
        width:64px;
        /*使用CSS3中的transition属性给跳转链接中的文字添加渐变效果*/
        -moz-transition:color 1s;
        -webkit-transition:color 1s;
        -o-transition:color 1s;
    }
    p#back-to-top a:hover{
        color:#979797;
    }
    p#back-to-top a span{
        background:transparent url(../../Content/Img/top_up.png) no-repeat; /*-25px -290px*/
        border-radius:6px;
        display:block;
        height:40px;
        width:100px;
        margin-bottom:5px;
        /*使用CSS3中的transition属性给<span>标签背景颜色添加渐变效果*/
        -moz-transition:background 1s;
        -webkit-transition:background 1s;
        -o-transition:background 1s;
    }
    #back-to-top a:hover span{
        background:transparent url(../../Content/Img/top_up.png) no-repeat;
    }
    </style>
</head>
<body>
    <p id="back-to-top"><a href="#top"><span></span></a></p>
    <div class="container" style="margin-left:0px; padding-left:0px">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <form action="" class="bs-example bs-example-form" role="form">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="input-group" style="float:left;">
                                <div class="btn-group" style="float: left;">
                                    <button id="field" type="button" v_val="-1" class="btn btn-default">默认</button>
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" style="height: 34px;">
                                        <span class="caret"></span>
                                        <span class="sr-only">切换下拉菜单</span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#" v_val="-1">默认</a></li>
                                        @foreach (var item in (List<T_CooperConfig>)ViewBag.CooperDrop)
                                        {
                                            <li><a href="#" v_val="@item.ctype">@item.ctype -@item.title</a></li>
                                        }
                                    </ul>
                                </div>
                                <input id="fieldv" type="text" class="form-control" style="width: 220px;margin:0 5px" />
                            </div><!-- /input-group -->
                            <button id="search" type="button" style="float:left; margin-left:5px;" class="btn btn-default">查询</button>
                        </div><!-- /.col-lg-6 -->
                    </div><!-- /.row -->
                </form>
            </div>
            <div class="panel-body">
                <div class="btn-toolbar" role="toolbar">
                    <div class="btn-group"><button type="button" class="btn btn-default" onclick="NewFlow()">新增</button></div>
                    <div class="btn-group"><button type="button" class="btn btn-default" onclick="ShowFlowState()">状态</button></div>
                    <div class="btn-group"><button type="button" class="btn btn-default" onclick="RemoveById()">删除</button></div>
                    <div class="btn-group"><button type="button" class="btn btn-default" onclick="CreateExecl()">生成Execl</button></div>
                    <div class="btn-group"><button type="button" class="btn btn-default"><a href="/Content/Txt/ProPool.xls">下载Execl</a></button></div>
                </div>
                <div id="ulist"></div>
                <div id="page" class="m-pagination"></div>
            </div>
        </div>
    </div>
</body>
</html>
